NodeRed Programs/Practice26.json
[
    {
        "id": "e5bf6254a0e0f1fb",
        "type": "tab",
        "label": "Practice25",
        "disabled": false,
        "info": ""
    },
    {
        "id": "33b7fba1243f4704",
        "type": "http response",
        "z": "e5bf6254a0e0f1fb",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 400,
        "y": 320,
        "wires": []
    },
    {
        "id": "e75629d3ad5d14c7",
        "type": "json",
        "z": "e5bf6254a0e0f1fb",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 390,
        "y": 440,
        "wires": [
            [
                "2b37200edcd15d64"
            ]
        ]
    },
    {
        "id": "3a6ef7e414d17a8b",
        "type": "debug",
        "z": "e5bf6254a0e0f1fb",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 340,
        "wires": []
    },
    {
        "id": "4d01ffc5418d08bd",
        "type": "ui_text",
        "z": "e5bf6254a0e0f1fb",
        "group": "2b7ac01b.fc984",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor Name",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 840,
        "y": 400,
        "wires": []
    },
    {
        "id": "79f6bf0b46205a7e",
        "type": "ui_gauge",
        "z": "e5bf6254a0e0f1fb",
        "name": "",
        "group": "2b7ac01b.fc984",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature 1",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 840,
        "y": 520,
        "wires": []
    },
    {
        "id": "4ee5dadfb3a97443",
        "type": "ui_gauge",
        "z": "e5bf6254a0e0f1fb",
        "name": "",
        "group": "2b7ac01b.fc984",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature 2",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#0080ff",
            "#0062c4",
            "#002f5e"
        ],
        "seg1": "",
        "seg2": "",
        "x": 840,
        "y": 620,
        "wires": []
    },
    {
        "id": "2b37200edcd15d64",
        "type": "function",
        "z": "e5bf6254a0e0f1fb",
        "name": "JSON or URL Encoded",
        "func": "var msg0 = { payload: msg.payload.api_key };\nvar msg1 = { payload: msg.payload.sensor };\nvar msg2 = { payload: msg.payload.value1 };\nvar msg3 = { payload: msg.payload.value2 };\n\n\nreturn [msg0, msg1, msg2, msg3];",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 440,
        "wires": [
            [
                "3a6ef7e414d17a8b"
            ],
            [
                "4d01ffc5418d08bd"
            ],
            [
                "79f6bf0b46205a7e",
                "c959cbc2b151929f"
            ],
            [
                "4ee5dadfb3a97443",
                "7ad7da09923a9978"
            ]
        ]
    },
    {
        "id": "be16297b22d8e2b2",
        "type": "http in",
        "z": "e5bf6254a0e0f1fb",
        "name": "",
        "url": "update-sensor",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 360,
        "wires": [
            [
                "33b7fba1243f4704",
                "e75629d3ad5d14c7",
                "3a6ef7e414d17a8b"
            ]
        ]
    },
    {
        "id": "c959cbc2b151929f",
        "type": "change",
        "z": "e5bf6254a0e0f1fb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "temp1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "7ad7da09923a9978",
        "type": "change",
        "z": "e5bf6254a0e0f1fb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "temp2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "65a75624c3f22ac0",
        "type": "telegram command",
        "z": "e5bf6254a0e0f1fb",
        "name": "",
        "command": "temp1",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "459ef3396edd223e",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 160,
        "y": 620,
        "wires": [
            [
                "2cd9bc55bc9d2e36"
            ],
            []
        ]
    },
    {
        "id": "c739c473f9f7f1b8",
        "type": "telegram command",
        "z": "e5bf6254a0e0f1fb",
        "name": "",
        "command": "temp2",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "459ef3396edd223e",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 170,
        "y": 740,
        "wires": [
            [
                "069cd15243a75ab7"
            ],
            []
        ]
    },
    {
        "id": "2cd9bc55bc9d2e36",
        "type": "function",
        "z": "e5bf6254a0e0f1fb",
        "name": "",
        "func": "var temp = flow.get(\"temp1\")\nmsg.payload={\n    \"chatId\": 1345127422,\n    \"type\": \"message\",\n    \"content\": \"Temperatura 1=\" + temp + \"°C\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 620,
        "wires": [
            [
                "79916ee3a55d54bd"
            ]
        ]
    },
    {
        "id": "069cd15243a75ab7",
        "type": "function",
        "z": "e5bf6254a0e0f1fb",
        "name": "",
        "func": "var temp = flow.get(\"temp2\")\nmsg.payload={\n    \"chatId\": 1345127422,\n    \"type\": \"message\",\n    \"content\": \"Temperatura actual=\" + temp + \"°C\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 740,
        "wires": [
            [
                "fe66230b64202503"
            ]
        ]
    },
    {
        "id": "79916ee3a55d54bd",
        "type": "telegram sender",
        "z": "e5bf6254a0e0f1fb",
        "name": "",
        "bot": "459ef3396edd223e",
        "haserroroutput": false,
        "outputs": 1,
        "x": 610,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "fe66230b64202503",
        "type": "telegram sender",
        "z": "e5bf6254a0e0f1fb",
        "name": "",
        "bot": "459ef3396edd223e",
        "haserroroutput": false,
        "outputs": 1,
        "x": 610,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "0df5bd8227650d00",
        "type": "telegram receiver",
        "z": "e5bf6254a0e0f1fb",
        "name": "TSC Lab",
        "bot": "459ef3396edd223e",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 170,
        "y": 260,
        "wires": [
            [
                "df4c574dbcb6a1bd"
            ],
            []
        ]
    },
    {
        "id": "df4c574dbcb6a1bd",
        "type": "debug",
        "z": "e5bf6254a0e0f1fb",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 260,
        "wires": []
    },
    {
        "id": "2b7ac01b.fc984",
        "type": "ui_group",
        "name": "SENSORS",
        "tab": "99ab8dc5.f435c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "459ef3396edd223e",
        "type": "telegram bot",
        "botname": "TscLabKechica_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "99ab8dc5.f435c",
        "type": "ui_tab",
        "name": "HTTP",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]