NodeRed Programs/Practice25.json
[
    {
        "id": "4e6603f0f49408c9",
        "type": "tab",
        "label": "Practice25",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a30a5232da236b1c",
        "type": "http response",
        "z": "4e6603f0f49408c9",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 400,
        "y": 320,
        "wires": []
    },
    {
        "id": "c73fdcce98c99fc2",
        "type": "json",
        "z": "4e6603f0f49408c9",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 390,
        "y": 440,
        "wires": [
            [
                "e807ef85b135fe75"
            ]
        ]
    },
    {
        "id": "4a7a40d1f1c933c8",
        "type": "debug",
        "z": "4e6603f0f49408c9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 340,
        "wires": []
    },
    {
        "id": "62f7c2402ae43a08",
        "type": "ui_text",
        "z": "4e6603f0f49408c9",
        "group": "2b7ac01b.fc984",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor Name",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 840,
        "y": 400,
        "wires": []
    },
    {
        "id": "d43c3de4a94702aa",
        "type": "ui_gauge",
        "z": "4e6603f0f49408c9",
        "name": "",
        "group": "2b7ac01b.fc984",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature 1",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 840,
        "y": 520,
        "wires": []
    },
    {
        "id": "d31a1d7eda805941",
        "type": "ui_gauge",
        "z": "4e6603f0f49408c9",
        "name": "",
        "group": "2b7ac01b.fc984",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature 2",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#0080ff",
            "#0062c4",
            "#002f5e"
        ],
        "seg1": "",
        "seg2": "",
        "x": 840,
        "y": 620,
        "wires": []
    },
    {
        "id": "e807ef85b135fe75",
        "type": "function",
        "z": "4e6603f0f49408c9",
        "name": "JSON or URL Encoded",
        "func": "var msg0 = { payload: msg.payload.api_key };\nvar msg1 = { payload: msg.payload.sensor };\nvar msg2 = { payload: msg.payload.value1 };\nvar msg3 = { payload: msg.payload.value2 };\n\n\nreturn [msg0, msg1, msg2, msg3];",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 440,
        "wires": [
            [
                "4a7a40d1f1c933c8"
            ],
            [
                "62f7c2402ae43a08"
            ],
            [
                "d43c3de4a94702aa",
                "7416c211f88ef53a"
            ],
            [
                "d31a1d7eda805941",
                "a656017654cb2862"
            ]
        ]
    },
    {
        "id": "45860c289febf653",
        "type": "http in",
        "z": "4e6603f0f49408c9",
        "name": "",
        "url": "update-sensor",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 360,
        "wires": [
            [
                "a30a5232da236b1c",
                "c73fdcce98c99fc2",
                "4a7a40d1f1c933c8"
            ]
        ]
    },
    {
        "id": "7416c211f88ef53a",
        "type": "change",
        "z": "4e6603f0f49408c9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "temp1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "a656017654cb2862",
        "type": "change",
        "z": "4e6603f0f49408c9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "temp2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "941352c79b5edc9d",
        "type": "telegram command",
        "z": "4e6603f0f49408c9",
        "name": "",
        "command": "temp1",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "b210c79da6183814",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 160,
        "y": 620,
        "wires": [
            [
                "63fc65e2866443a4"
            ],
            []
        ]
    },
    {
        "id": "3036f8a622cf3ae8",
        "type": "telegram command",
        "z": "4e6603f0f49408c9",
        "name": "",
        "command": "temp2",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "b210c79da6183814",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 170,
        "y": 740,
        "wires": [
            [
                "0aae0d763348f8fd"
            ],
            []
        ]
    },
    {
        "id": "63fc65e2866443a4",
        "type": "function",
        "z": "4e6603f0f49408c9",
        "name": "",
        "func": "var temp = flow.get(\"temp1\")\nmsg.payload={\n    \"chatId\": -678832634,\n    \"type\": \"message\",\n    \"content\": \"Temperatura 1=\" + temp + \"°C\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 620,
        "wires": [
            [
                "b77bce83f68e849e"
            ]
        ]
    },
    {
        "id": "0aae0d763348f8fd",
        "type": "function",
        "z": "4e6603f0f49408c9",
        "name": "",
        "func": "var temp = flow.get(\"temp2\")\nmsg.payload={\n    \"chatId\": -678832634,\n    \"type\": \"message\",\n    \"content\": \"Temperatura actual=\" + temp + \"°C\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 740,
        "wires": [
            [
                "a348cb806b9f6653"
            ]
        ]
    },
    {
        "id": "b77bce83f68e849e",
        "type": "telegram sender",
        "z": "4e6603f0f49408c9",
        "name": "",
        "bot": "b210c79da6183814",
        "haserroroutput": false,
        "outputs": 1,
        "x": 610,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "a348cb806b9f6653",
        "type": "telegram sender",
        "z": "4e6603f0f49408c9",
        "name": "",
        "bot": "b210c79da6183814",
        "haserroroutput": false,
        "outputs": 1,
        "x": 610,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "c68f72863bd3036e",
        "type": "telegram receiver",
        "z": "4e6603f0f49408c9",
        "name": "TSC Lab",
        "bot": "b210c79da6183814",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 170,
        "y": 260,
        "wires": [
            [
                "cc50202dd9aee6cb"
            ],
            []
        ]
    },
    {
        "id": "cc50202dd9aee6cb",
        "type": "debug",
        "z": "4e6603f0f49408c9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 260,
        "wires": []
    },
    {
        "id": "2b7ac01b.fc984",
        "type": "ui_group",
        "name": "SENSORS",
        "tab": "99ab8dc5.f435c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b210c79da6183814",
        "type": "telegram bot",
        "botname": "TscLab_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "99ab8dc5.f435c",
        "type": "ui_tab",
        "name": "HTTP",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]