NodeRed Programs/Practice34.json
[
    {
        "id": "913428f966c4008e",
        "type": "tab",
        "label": "Practice34",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "ee08b54f.caa4c",
        "type": "mqtt in",
        "z": "913428f966c4008e",
        "name": "",
        "topic": "tsclab/kechica",
        "qos": "0",
        "datatype": "auto",
        "broker": "0a04e91a95aab8a3",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 210,
        "y": 180,
        "wires": [
            [
                "3a517467.b8e7d4",
                "995f8c4cf4338174"
            ]
        ]
    },
    {
        "id": "17abc6b7.272ff1",
        "type": "change",
        "z": "913428f966c4008e",
        "name": "toNumber",
        "rules": [],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 180,
        "wires": [
            [
                "5ed09aec.92d34c"
            ]
        ]
    },
    {
        "id": "3a517467.b8e7d4",
        "type": "split",
        "z": "913428f966c4008e",
        "name": "",
        "splt": ",",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 390,
        "y": 180,
        "wires": [
            [
                "17abc6b7.272ff1"
            ]
        ]
    },
    {
        "id": "5ed09aec.92d34c",
        "type": "switch",
        "z": "913428f966c4008e",
        "name": "route",
        "property": "parts.index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 690,
        "y": 180,
        "wires": [
            [
                "a2f3472e.4c785"
            ],
            [
                "8f5e9f01.951ca"
            ]
        ]
    },
    {
        "id": "a2f3472e.4c785",
        "type": "ui_gauge",
        "z": "913428f966c4008e",
        "name": "",
        "group": "dfc653fe.ed6cf",
        "order": 1,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "Temperatura 1",
        "label": "°C",
        "format": "{{value}}",
        "min": "24",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 960,
        "y": 140,
        "wires": []
    },
    {
        "id": "8f5e9f01.951ca",
        "type": "ui_gauge",
        "z": "913428f966c4008e",
        "name": "",
        "group": "dfc653fe.ed6cf",
        "order": 10,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "Temperatura 2",
        "label": "°C",
        "format": "{{value}}",
        "min": "24",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 960,
        "y": 260,
        "wires": []
    },
    {
        "id": "995f8c4cf4338174",
        "type": "debug",
        "z": "913428f966c4008e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 280,
        "wires": []
    },
    {
        "id": "0a04e91a95aab8a3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "dfc653fe.ed6cf",
        "type": "ui_group",
        "name": "MQTT",
        "tab": "444cb8a6d47dd350",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "444cb8a6d47dd350",
        "type": "ui_tab",
        "name": "MQTT",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]